@font-face {
    font-family: tanha;
    src: url(../font/Tanha.eot);
    src: url(../font/Tanha.ttf),url(../font/Tanha.woff),url(../font/Tanha.woff2);
}
*{margin: 0;padding: 0;}
body{
    background-color: #1a1a1d;
}
#header{
    width: 100%;
    background-image:url(../image/bac.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    margin:0 auto;
    color:#1a1a1d ;
    box-sizing: border-box;
    min-height: 200px ;
    text-align: center;
    font: 40px Georgia, 'Times New Roman', Times, serif;
    padding-top: 50px ;
    border: 5px solid #950740;
    text-shadow: #950740 1px 1px 10px ,#4e4e50 -1px -1px 10px;
    opacity: 0.95;
}
#navbar{
    width: 100%;
    background-image: linear-gradient(#950740,#1a1a1d);
    text-align: left;
    box-sizing: border-box;
    height: 50px;
    z-index: 10;
    opacity: 0.9;
}
#navbar ul li{
    display: inline-block;
    padding-top:10px ;
    margin-left:20px;
    font: 20px  Georgia, 'Times New Roman', Times, serif;
}
#navbar ul li a{
    color:#1a1a1d;
    text-shadow:#c3073f .01px .01px 10px;
    text-decoration: none;
}
#navbar ul li #page{
    color:#c3073f;
    text-shadow:#1a1a1d .01px .01px 10px;
    text-decoration: none;
}
#navbar ul li a:hover,#navbar ul li #page:hover{
   color:#950740;
   text-shadow:#1a1a1d 1px 1px 10px;

}
#contener{
    text-align: center;
}
#contener div{
    max-width: 700px;
    height: 200px;
    display: block;
    box-shadow: 1px 1px 10px #6f2232;
    background-image: linear-gradient(#1a1a1d,#4e4e50,#6f2232);
    margin: 25px auto;
    padding: 20px;
    box-sizing: border-box;
    animation: example 3s ease-out  1  both;
}
@keyframes example{
    from {opacity: 0;}
    to {opacity: 1;}
  }
#contener div h1{
    color:#c3073f;
    text-shadow: #1a1a1d 1px 1px 10px;
    font-family: tanha;
    font-size: 20px;
}

#contener div p{
    color: #1a1a1d;
    text-shadow: 1px 1px 10px #1a1a1d;
    font-family: tanha;
    font-size: 20px;
}

#contener div #home{
    color:#c3073f;
    text-shadow: 1px 1px 10px #1a1a1d;
    font-family: tanha;
    font-size: 20px;
}

#contener div a{
    text-decoration: none;
    color: #c3073f;
    text-shadow: 1px 1px 10px #1a1a1d;
    font-family: tanha;
    font-size: 20px;
}
#contener div a:hover{
    color: #1a1a1d;
    text-shadow: 1px 1px 10px #c3073f;
    font-family: tanha;
    font-size: 20px;
}

@keyframes intro {
    form{}
    to{}
    
}
.footre{
    background-image: linear-gradient(#1a1a1d,#950740);
    min-height: 30px;
    color:#1a1a1d;
    font-size: 25px;
    text-shadow: #c3073f .01px .01px 10px;
}
.date{
font-size: 13px;
}
/* #1a1a1d
   #4e4e50
   #6f2232
   #950740
   #c3073f    
*/
